
<footer>
    <div><p>This is a footer of weather app | Created by {{name}} | <a href="https://darksky.net/poweredby/" target="_blank">Powered by Dark Sky</a> and <a href="https://www.mapbox.com/" target="_blank">MapBox</a></p></div>
</footer>    
</body>
</html>