<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="icon" href="/images/cloud.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
     
</head>
<body>   
     <header>   
         <h1>{{title}}</h1>
         <div>
            <a href="/">Weather</a>
            <a href="/help">Help</a>
            <a href="/about">About</a>
        </div>
        
    </header>

